.map-container {
  background-color: #c7dbf7;
  max-width: 500px;
  padding: 50px;
  color: #305079;
  line-height: 15px;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
  font-weight: 600;

  h3 {
    padding-bottom: 0px;
  }

  a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #305079;

    &:hover {
      color: #ffffff;
      background: #305079;
    }
  }

  #blank {
    background-color: #c7dbf7;
  }
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 55px;
}

.state {
  background-color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #305079;
  // padding: 10px 0;
}

.state:after {
  content: '';
}

#ME {
  grid-column-start: 12;
}
#VT {
  grid-column-start: 11;
}
#WA,
#OR,
#CA {
  grid-column-start: 2;
}
#AZ {
  grid-column-start: 3;
}
#OK,
#TX {
  grid-column-start: 5;
}
#HI,
#AK {
  grid-column-start: 2;
}
#FL {
  grid-column-start: 10;
}
#PR {
  grid-column-start: 12;
  grid-row-start: 9;
}
// #WI{
//   grid-column-start: 6;
//   grid-row-start: 2
// }
