.map-container {
  background-color: #c7dbf7;
  max-width: 500px;
  padding: 50px;
  color: #305079;
  line-height: 15px;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
  font-weight: 600;

  h3 {
    padding-bottom: 0px;
  }

  a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #305079;

    &:hover {
      color: #ffffff;
      background: #305079;
    }
  }

  #blank {
    background-color: #c7dbf7;
  }
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 55px;
}

.state {
  background-color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #305079;
  // padding: 10px 0;
}

.state:after {
  content: '';
}

// Columns
#AK,
#WA,
#OR,
#CA,
#HI {
  grid-column-start: 1;
}

#ID,
#NV,
#UT,
#AZ {
  grid-column-start: 2;
}

#MT,
#WY,
#CO,
#NM {
  grid-column-start: 3;
}

#ND,
#SD,
#NE,
#KS,
#OK,
#TX {
  grid-column-start: 4;
}

#MN,
#IA,
#MO,
#AR,
#LA {
  grid-column-start: 5;
}

#WI,
#IL,
#IN,
#KY,
#TN,
#MS {
  grid-column-start: 6;
}

#MI,
#OH,
#WV,
#NC,
#AL {
  grid-column-start: 7;
}

#PA,
#VA,
#SC,
#GA {
  grid-column-start: 8;
}

#NY,
#NJ,
#MD,
#DC,
#FL {
  grid-column-start: 9;
}

#VT,
#MA,
#CT,
#DE {
  grid-column-start: 10;
}

#ME,
#NH,
#RI {
  grid-column-start: 11;
}

// Rows
#AK,
#ME {
  grid-row-start: 1;
}

#WI,
#VT,
#NH {
  grid-row-start: 2;
}

#WA,
#ID,
#MT,
#ND,
#MN,
#IL,
#MI,
#NY,
#MA {
  grid-row-start: 3;
}

#OR,
#NV,
#WY,
#SD,
#IA,
#IN,
#OH,
#PA,
#NJ,
#CT,
#RI {
  grid-row-start: 4;
}

#CA,
#UT,
#CO,
#NE,
#MO,
#KY,
#WV,
#VA,
#MD,
#DE {
  grid-row-start: 5;
}

#AZ,
#NM,
#KS,
#AR,
#TN,
#NC,
#SC,
#DC {
  grid-row-start: 6;
}

#OK,
#LA,
#MS,
#AL,
#GA {
  grid-row-start: 7;
}

#HI,
#TX,
#FL {
  grid-row-start: 8;
}

#PR {
  grid-row-start: 10;
  grid-column-start: 11;
}

#blank {
  grid-column-start: 8;
  grid-row-start: 3;
}
